h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 36px;
  color: #171919;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 56px;
  color: #171919;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
  margin-top: 10px;
  font-size: 20px;
  color: #171919;
}
.block {
  text-align: center;
  background-color: #e3edff;
  padding: 160px 20px;
}
.btn-branding {
  background-color: #6d2e46;
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 30px;
  color: white;
}
.description {
  font-size: 16px;
}
.btn-yogurt {
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid;
  border-color: #6d2e46;
  color: #6d2e46;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .about-section {
    text-align: center;
    padding: 0%;
  }
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.about-section h1 {
  font-size: 48px;
}
.about-section h2 {
  font-size: 18px;
  font-weight: 900;
}
.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 30px;
}
img {
  border-radius: 30px;
}
